<!-- As a heading -->
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Name Picker</span>

    <app-teamselect [teams]=this.teams (teamSelectedEvent)="pickFromTeam($event)" ></app-teamselect>    

    <button (click)="showEditer = !showEditer" class="btn btn-warning">Edit Team List</button>
    
  </div>

</nav>

<app-editor [names]=this.names (addNameEvent)="addName($event)" (removeNameEvent)="removeName($event)" [showedit]="showEditer" [hideButton]="true"></app-editor>


<app-picker [names]=this.names [team]=this.selectedTeam (pickedEvent)="updateResults($event)" ></app-picker>

<app-results-display [team]=this.selectedTeam [names]=this.names [picked]=this.picked></app-results-display>



<footer>
<div> &copy; Albert Rosa 2023</div>
</footer>